# Configure the wakeup times in this file.
#
# Each day must be on a new line having the following format:
# Day	Wakeup time	Suspend time
# Day is a value between 1 (Monday) and 7 (Sunday)
# Wakeup time and Suspend time is a value in format hh:mm (e.g. 7:00 for 7am or 20:00 for 8pm)
#
# Execute /usr/bin/chromescreens-configure-suspend-wakeup after every change
#
# Example:
#1	7:00	20:00
#2	7:00	20:00
#3	7:00	20:00
#4	7:00	20:00
#5	7:00	20:00
